{% extends "base.html" %}

{% load static %}

{% block content %}

    <div class="header">
        <h2>Contact</h2> 
    </div>

    <div class="contact_container">
        <p>For any inquiries or requests, please contact me at:</p>
        <div>
            <ul>
                <li><i class="bi bi-envelope" id="email"></i> {{ user.email }}</li>
                {% if profile.github %}
                    <li><i class="bi bi-github" id="github"></i> {{profile.github}}</li>
                {% endif %}
                {% if profile.linkedin %}
                    <li><i class="bi bi-linkedin" id="linkedin"></i> {{profile.linkedin}}</li>
                {% endif %}
            </ul>   
        </div>
    </div>
    

{% endblock %}