{% extends "base.html" %}


{% block content %}

<div class="header">
    <h2>Project: {{project.title}}</h2>    
</div>

{% if user.is_authenticated %}

<div class="project_div">

    <p><strong>Title:</strong> {{project.title}}</p>

    <p><a href="{% url 'capstone:edit_project' project.id %}">Edit</a></p>

    <p><strong>Description:</strong> {{project.description}}</p>
    <p><strong>Technologies used:</strong></p>
    <ul>
        {% if project.frontend %}
            <li><strong>Frontend: </strong>{{project.frontend}}</li>
        {% endif %}
        {% if project.backend %}
            <li><strong>Backend: </strong>{{project.backend}}</li>
        {% endif %}
        {% if project.database %}
            <li><strong>Database: </strong>{{project.database}}</li>
        {% endif %}
    </ul>
    {% if project.github %}
        <p><strong>Github: </strong><a href={{project.github}}>{{project.github}}</a></p>
    {% endif %}
    {% if project.link_to_live_demo %}
        <p><strong>Link to live demo: </strong><a href={{project.link_to_live_demo}}>{{project.link_to_live_demo}}</a></p>
    {% endif %}
</div>
        
{% endif %}

{% endblock %}