{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

    <div class="header">
        <h2>Login</h2>
    </div>
    <div class="form_container">
        <form class="form-group" action="{% url 'login' %}" method="post">
            {% csrf_token %}
                {{form.as_p}}
            <button type="submit" id="login_button" class="btn">Log In</button>
        </form>
    </div>
    <a href="{% url 'password_reset' %}">Forgot password?</a>
{% endblock %}